[loggers]
keys=root

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=essential

[logger_root]
level=DEBUG
handlers=consoleHandler,fileHandler

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=essential
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=essential
args=('%(logfilename)s', 'w', 'UTF-8')

[formatter_essential]
format=%(asctime)s - %(name)s - %(levelname)s - %(funcName)s - %(lineno)d - %(message)s'
datefmt='%d-%m-%y %H:%M:%S'
